
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

input[type="number"] {
  -moz-appearance: textfield;  /* Убираем стрелки в Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;  /* Убираем стрелки в Chrome, Safari, Edge, Opera */
  margin: 0;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  background: black;
  min-height: 100vh;
 
}


